<!doctype html>
<html lang="en">

<head>
  <title>Mathematics</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css">
  <link rel="stylesheet" href="highlight.css">
  <link rel="stylesheet" href="index.css">
</head>

<body>
  <h1 class="title">Mathematics</h1>
  <div class="content"><%- content %></div>
</body>

<script src="index.js"></script>

</html>